@import "reset", "variables", "mixins", "spacing", "typography";

// ANCHOR General
body {
    ::selection {
        background-color: $orange;
        color: $white;
    }
    font-family: "Carbona";
    color: $grey;
}

.container {
    padding-left: 135px;
    padding-right: 135px;
    width: min(100%, 1440px);
    max-width: unset;
    @include mx(992px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container-fluid {
    padding-left: 135px;
    padding-right: 135px;
    @include mx(992px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

main {
    a {
        text-decoration: underline;
        font-weight: 600;
        &:hover {
            text-decoration-color: transparent;
        }
    }
}

// ANCHOR Spacer
spacer {
    display: block;
    padding-top: 60px;
    @include mq(992px) {
        padding-top: 120px;
    }
}

p:last-child,
p:last-of-type {
    margin-bottom: 0;
}

// ANCHOR Buttons
.btn {
    @include btn;
    &.btn-orange {
        border: none;
        padding: 18px 29px;
        gap: 10px;
        background: $orange;
        border-radius: 5px;
        color: $white;
        &:hover {
            background-color: $orange--light;
            color: $grey !important;
        }
    }
}

// ANCHOR Navigation
.navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
    &.scrolled {
        background-color: $white;
        box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 15%);
        .navbar-brand {
            svg {
                .txt {
                    fill: #1c1e26;
                }
                .sofa {
                    stroke: $orange;
                }
            }
        }
        ul {
            > li {
                a {
                    color: $black;
                    &.btn {
                        color: $white;
                    }
                    &:hover {
                        text-decoration-color: $black;
                    }
                }
            }
        }
    }
    nav {
        padding: 0 !important;
        .navbar-toggler {
            outline: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
            box-shadow: none !important;
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18' fill='none'%3E%3Cpath d='M1 17H23Z' fill='black'/%3E%3Cpath d='M1 1H23M1 9H23M1 17H23' stroke='black' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
                width: 24px;
                height: 18px;
            }
        }
        .navbar-brand {
            padding: 0;
            max-width: 60%;
            svg {
                max-width: 100%;
                height: auto;
            }
        }
        ul {
            align-items: center;
            > li {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: underline;
                    text-decoration-color: transparent;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 5px;
                    transition: 0.3s ease-in-out all;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: $white;
                    &:hover {
                        text-decoration-color: $white;
                    }
                }
            }
        }
    }
}

// ANCHOR Header
.header {
    padding: 220px 0px;
    background: url(../images/header.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .txt {
        z-index: 3;
        color: $white;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(134, 117, 85, 0.75);
    }
}

// ANCHOR Twee afbeeldingen + tekst
.two-img-txt {
    .img {
        .img-l {
            width: 82.7%;
            border-radius: 10px;
        }
        .img-r {
            width: 50.9%;
            border-radius: 10px;
            margin-top: -300px;
            margin-left: auto;
        }
    }
}

// ANCHOR Meubels
#meubels {
    .meubel {
        @include mq(992px) {
            width: 25% !important;
        }
        .txt {
            padding: 130px 10px 10px 10px;
            background-color: $orange--light;
        }
    }
}
