@import "mixins";

h1,
.h1 {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    @include mq(992px) {
        font-size: 3.75rem;
        line-height: 4.063rem;
    }
}

h2,
.h2 {
    color: $black;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    @include mq(992px) {
        font-size: 2.625rem;
        line-height: 2.625rem;
    }
}

p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    @include mq(992px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.intro {
    font-size: 1rem;
    line-height: 1.25rem;
    @include mq(992px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
